.ui.buttons button.ui.button.welbtn-v3_0_1-primary-basic,
button.ui.button.welbtn-v3_0_1-primary-basic,
button.welbtn-v3_0_1-primary-basic,
input[type="button"].welbtn-v3_0_1-primary-basic,
input[type="submit"].welbtn-v3_0_1-primary-basic,
input[type="reset"].welbtn-v3_0_1-primary-basic,
a.welbtn-v3_0_1-primary-basic {
  background-color: #ff8c00;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-basic:hover,
button.ui.button.welbtn-v3_0_1-primary-basic:hover,
button.welbtn-v3_0_1-primary-basic:hover,
input[type="button"].welbtn-v3_0_1-primary-basic:hover,
input[type="submit"].welbtn-v3_0_1-primary-basic:hover,
input[type="reset"].welbtn-v3_0_1-primary-basic:hover,
a.welbtn-v3_0_1-primary-basic:hover {
  background-color: #ffa500;
  color: #fff;
}
.ui.basic.buttons button.ui.button.welbtn-v3_0_1-primary-basic,
.ui.buttons button.ui.basic.button.welbtn-v3_0_1-primary-basic,
button.ui.basic.button.welbtn-v3_0_1-primary-basic {
  background: 0 0;
  -webkit-box-shadow: 0 0 0 1px #ff8c00 inset;
  box-shadow: 0 0 0 1px #ff8c00 inset;
  color: #ff8c00;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-nova,
button.ui.button.welbtn-v3_0_1-primary-nova,
button.welbtn-v3_0_1-primary-nova,
input[type="button"].welbtn-v3_0_1-primary-nova,
input[type="submit"].welbtn-v3_0_1-primary-nova,
input[type="reset"].welbtn-v3_0_1-primary-nova,
a.welbtn-v3_0_1-primary-nova,
.batch-select-container input[type="submit"].welbtn-v3_0_1-primary-nova {
  background-color: #d3222a;
  color: #fff;
  -webkit-box-shadow: 0 3px #a5141a;
  box-shadow: 0 3px #a5141a;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-nova:hover,
button.ui.button.welbtn-v3_0_1-primary-nova:hover,
button.welbtn-v3_0_1-primary-nova:hover,
input[type="button"].welbtn-v3_0_1-primary-nova:hover,
input[type="submit"].welbtn-v3_0_1-primary-nova:hover,
input[type="reset"].welbtn-v3_0_1-primary-nova:hover,
a.welbtn-v3_0_1-primary-nova:hover,
.batch-select-container input[type="submit"].welbtn-v3_0_1-primary-nova:hover {
  background-color: #e25157;
  color: #fff;
  -webkit-box-shadow: 0 2px #d3222a;
  box-shadow: 0 2px #d3222a;
}
.ui.basic.buttons button.ui.button.welbtn-v3_0_1-primary-nova,
.ui.buttons button.ui.basic.button.welbtn-v3_0_1-primary-nova,
button.ui.basic.button.welbtn-v3_0_1-primary-nova {
  background: 0 0;
  -webkit-box-shadow: 0 0 0 1px #d3222a inset;
  box-shadow: 0 0 0 1px #d3222a inset;
  color: #d3222a;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-beldad,
button.ui.button.welbtn-v3_0_1-primary-beldad,
button.welbtn-v3_0_1-primary-beldad,
input[type="button"].welbtn-v3_0_1-primary-beldad,
input[type="submit"].welbtn-v3_0_1-primary-beldad,
input[type="reset"].welbtn-v3_0_1-primary-beldad,
a.welbtn-v3_0_1-primary-beldad {
  background-color: #000;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-beldad:hover,
button.ui.button.welbtn-v3_0_1-primary-beldad:hover,
button.welbtn-v3_0_1-primary-beldad:hover,
input[type="button"].welbtn-v3_0_1-primary-beldad:hover,
input[type="submit"].welbtn-v3_0_1-primary-beldad:hover,
input[type="reset"].welbtn-v3_0_1-primary-beldad:hover,
a.welbtn-v3_0_1-primary-beldad:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.ui.basic.buttons button.ui.button.welbtn-v3_0_1-primary-beldad,
.ui.buttons button.ui.basic.button.welbtn-v3_0_1-primary-beldad,
button.ui.basic.button.welbtn-v3_0_1-primary-beldad {
  background: 0 0;
  -webkit-box-shadow: 0 0 0 1px #000 inset;
  box-shadow: 0 0 0 1px #000 inset;
  color: #000;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-bordeaux,
button.ui.button.welbtn-v3_0_1-primary-bordeaux,
button.welbtn-v3_0_1-primary-bordeaux,
input[type="button"].welbtn-v3_0_1-primary-bordeaux,
input[type="submit"].welbtn-v3_0_1-primary-bordeaux,
input[type="reset"].welbtn-v3_0_1-primary-bordeaux,
a.welbtn-v3_0_1-primary-bordeaux {
  background-color: #a61536;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-bordeaux:hover,
button.ui.button.welbtn-v3_0_1-primary-bordeaux:hover,
button.welbtn-v3_0_1-primary-bordeaux:hover,
input[type="button"].welbtn-v3_0_1-primary-bordeaux:hover,
input[type="submit"].welbtn-v3_0_1-primary-bordeaux:hover,
input[type="reset"].welbtn-v3_0_1-primary-bordeaux:hover,
a.welbtn-v3_0_1-primary-bordeaux:hover {
  background-color: #8e122e;
  color: #fff;
}
.ui.basic.buttons button.ui.button.welbtn-v3_0_1-primary-bordeaux,
.ui.buttons button.ui.basic.button.welbtn-v3_0_1-primary-bordeaux,
button.ui.basic.button.welbtn-v3_0_1-primary-bordeaux {
  background: 0 0;
  -webkit-box-shadow: 0 0 0 1px #a61536 inset;
  box-shadow: 0 0 0 1px #a61536 inset;
  color: #a61536;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-carina,
button.ui.button.welbtn-v3_0_1-primary-carina,
button.welbtn-v3_0_1-primary-carina,
input[type="button"].welbtn-v3_0_1-primary-carina,
input[type="submit"].welbtn-v3_0_1-primary-carina,
input[type="reset"].welbtn-v3_0_1-primary-carina,
a.welbtn-v3_0_1-primary-carina {
  background-color: #d3222a;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-carina:hover,
button.ui.button.welbtn-v3_0_1-primary-carina:hover,
button.welbtn-v3_0_1-primary-carina:hover,
input[type="button"].welbtn-v3_0_1-primary-carina:hover,
input[type="submit"].welbtn-v3_0_1-primary-carina:hover,
input[type="reset"].welbtn-v3_0_1-primary-carina:hover,
a.welbtn-v3_0_1-primary-carina:hover {
  background-color: rgba(211, 34, 42, 0.6);
  color: #fff;
}
.ui.basic.buttons button.ui.button.welbtn-v3_0_1-primary-carina,
.ui.buttons button.ui.basic.button.welbtn-v3_0_1-primary-carina,
button.ui.basic.button.welbtn-v3_0_1-primary-carina {
  background: 0 0;
  -webkit-box-shadow: 0 0 0 1px #d3222a inset;
  box-shadow: 0 0 0 1px #d3222a inset;
  color: #d3222a;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-square,
button.ui.button.welbtn-v3_0_1-primary-square,
button.welbtn-v3_0_1-primary-square,
input[type="button"].welbtn-v3_0_1-primary-square,
input[type="submit"].welbtn-v3_0_1-primary-square,
input[type="reset"].welbtn-v3_0_1-primary-square,
a.welbtn-v3_0_1-primary-square {
  background-color: #d3222a;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-square:hover,
button.ui.button.welbtn-v3_0_1-primary-square:hover,
button.welbtn-v3_0_1-primary-square:hover,
input[type="button"].welbtn-v3_0_1-primary-square:hover,
input[type="submit"].welbtn-v3_0_1-primary-square:hover,
input[type="reset"].welbtn-v3_0_1-primary-square:hover,
a.welbtn-v3_0_1-primary-square:hover {
  background-color: rgba(211, 34, 42, 0.6);
  color: #fff;
}
.ui.basic.buttons button.ui.button.welbtn-v3_0_1-primary-square,
.ui.buttons button.ui.basic.button.welbtn-v3_0_1-primary-square,
button.ui.basic.button.welbtn-v3_0_1-primary-square {
  background: 0 0;
  -webkit-box-shadow: 0 0 0 1px #d3222a inset;
  box-shadow: 0 0 0 1px #d3222a inset;
  color: #d3222a;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-voll,
button.ui.button.welbtn-v3_0_1-primary-voll,
button.welbtn-v3_0_1-primary-voll,
input[type="button"].welbtn-v3_0_1-primary-voll,
input[type="submit"].welbtn-v3_0_1-primary-voll,
input[type="reset"].welbtn-v3_0_1-primary-voll,
a.welbtn-v3_0_1-primary-voll {
  background-color: #2abfab;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-voll:hover,
button.ui.button.welbtn-v3_0_1-primary-voll:hover,
button.welbtn-v3_0_1-primary-voll:hover,
input[type="button"].welbtn-v3_0_1-primary-voll:hover,
input[type="submit"].welbtn-v3_0_1-primary-voll:hover,
input[type="reset"].welbtn-v3_0_1-primary-voll:hover,
a.welbtn-v3_0_1-primary-voll:hover {
  background-color: rgba(42, 191, 171, 0.6);
  color: #fff;
}
.ui.basic.buttons button.ui.button.welbtn-v3_0_1-primary-voll,
.ui.buttons button.ui.basic.button.welbtn-v3_0_1-primary-voll,
button.ui.basic.button.welbtn-v3_0_1-primary-voll {
  background: 0 0;
  -webkit-box-shadow: 0 0 0 1px #2abfab inset;
  box-shadow: 0 0 0 1px #2abfab inset;
  color: #2abfab;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-panetteria,
button.ui.button.welbtn-v3_0_1-primary-panetteria,
button.welbtn-v3_0_1-primary-panetteria,
input[type="button"].welbtn-v3_0_1-primary-panetteria,
input[type="submit"].welbtn-v3_0_1-primary-panetteria,
input[type="reset"].welbtn-v3_0_1-primary-panetteria,
a.welbtn-v3_0_1-primary-panetteria {
  background-color: #ff8c00;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-primary-panetteria:hover,
button.ui.button.welbtn-v3_0_1-primary-panetteria:hover,
button.welbtn-v3_0_1-primary-panetteria:hover,
input[type="button"].welbtn-v3_0_1-primary-panetteria:hover,
input[type="submit"].welbtn-v3_0_1-primary-panetteria:hover,
input[type="reset"].welbtn-v3_0_1-primary-panetteria:hover,
a.welbtn-v3_0_1-primary-panetteria:hover {
  background-color: #ffa500;
  color: #fff;
}
.ui.basic.buttons button.ui.button.welbtn-v3_0_1-primary-panetteria,
.ui.buttons button.ui.basic.button.welbtn-v3_0_1-primary-panetteria,
button.ui.basic.button.welbtn-v3_0_1-primary-panetteria {
  background: 0 0;
  -webkit-box-shadow: 0 0 0 1px #ff8c00 inset;
  box-shadow: 0 0 0 1px #ff8c00 inset;
  color: #ff8c00;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-basic,
button.ui.button.welbtn-v3_0_1-secondary-basic,
button.welbtn-v3_0_1-secondary-basic,
input[type="button"].welbtn-v3_0_1-secondary-basic,
input[type="submit"].welbtn-v3_0_1-secondary-basic,
input[type="reset"].welbtn-v3_0_1-secondary-basic,
a.welbtn-v3_0_1-secondary-basic {
  background-color: #efefef;
  color: #000;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-basic:hover,
button.ui.button.welbtn-v3_0_1-secondary-basic:hover,
button.welbtn-v3_0_1-secondary-basic:hover,
input[type="button"].welbtn-v3_0_1-secondary-basic:hover,
input[type="submit"].welbtn-v3_0_1-secondary-basic:hover,
input[type="reset"].welbtn-v3_0_1-secondary-basic:hover,
a.welbtn-v3_0_1-secondary-basic:hover {
  background-color: #ddd;
  color: #000;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-nova,
button.ui.button.welbtn-v3_0_1-secondary-nova,
button.welbtn-v3_0_1-secondary-nova,
input[type="button"].welbtn-v3_0_1-secondary-nova,
input[type="submit"].welbtn-v3_0_1-secondary-nova,
input[type="reset"].welbtn-v3_0_1-secondary-nova,
a.welbtn-v3_0_1-secondary-nova {
  background-color: #c2c3c3;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-nova:hover,
button.ui.button.welbtn-v3_0_1-secondary-nova:hover,
button.welbtn-v3_0_1-secondary-nova:hover,
input[type="button"].welbtn-v3_0_1-secondary-nova:hover,
input[type="submit"].welbtn-v3_0_1-secondary-nova:hover,
input[type="reset"].welbtn-v3_0_1-secondary-nova:hover,
a.welbtn-v3_0_1-secondary-nova:hover {
  background-color: #d6d6d6;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-beldad,
button.ui.button.welbtn-v3_0_1-secondary-beldad,
button.welbtn-v3_0_1-secondary-beldad,
input[type="button"].welbtn-v3_0_1-secondary-beldad,
input[type="submit"].welbtn-v3_0_1-secondary-beldad,
input[type="reset"].welbtn-v3_0_1-secondary-beldad,
a.welbtn-v3_0_1-secondary-beldad {
  background-color: rgba(221, 221, 221, 0.6);
  color: #333;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-beldad:hover,
button.ui.button.welbtn-v3_0_1-secondary-beldad:hover,
button.welbtn-v3_0_1-secondary-beldad:hover,
input[type="button"].welbtn-v3_0_1-secondary-beldad:hover,
input[type="submit"].welbtn-v3_0_1-secondary-beldad:hover,
input[type="reset"].welbtn-v3_0_1-secondary-beldad:hover,
a.welbtn-v3_0_1-secondary-beldad:hover {
  background-color: #ddd;
  color: #333;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-bordeaux,
button.ui.button.welbtn-v3_0_1-secondary-bordeaux,
button.welbtn-v3_0_1-secondary-bordeaux,
input[type="button"].welbtn-v3_0_1-secondary-bordeaux,
input[type="submit"].welbtn-v3_0_1-secondary-bordeaux,
input[type="reset"].welbtn-v3_0_1-secondary-bordeaux,
a.welbtn-v3_0_1-secondary-bordeaux {
  background-color: #eee;
  color: #000;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-bordeaux:hover,
button.ui.button.welbtn-v3_0_1-secondary-bordeaux:hover,
button.welbtn-v3_0_1-secondary-bordeaux:hover,
input[type="button"].welbtn-v3_0_1-secondary-bordeaux:hover,
input[type="submit"].welbtn-v3_0_1-secondary-bordeaux:hover,
input[type="reset"].welbtn-v3_0_1-secondary-bordeaux:hover,
a.welbtn-v3_0_1-secondary-bordeaux:hover {
  background-color: #ddd;
  color: #000;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-carina,
button.ui.button.welbtn-v3_0_1-secondary-carina,
button.welbtn-v3_0_1-secondary-carina,
input[type="button"].welbtn-v3_0_1-secondary-carina,
input[type="submit"].welbtn-v3_0_1-secondary-carina,
input[type="reset"].welbtn-v3_0_1-secondary-carina,
a.welbtn-v3_0_1-secondary-carina {
  background-color: #eee;
  color: #000;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-carina:hover,
button.ui.button.welbtn-v3_0_1-secondary-carina:hover,
button.welbtn-v3_0_1-secondary-carina:hover,
input[type="button"].welbtn-v3_0_1-secondary-carina:hover,
input[type="submit"].welbtn-v3_0_1-secondary-carina:hover,
input[type="reset"].welbtn-v3_0_1-secondary-carina:hover,
a.welbtn-v3_0_1-secondary-carina:hover {
  background-color: #ddd;
  color: #000;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-square,
button.ui.button.welbtn-v3_0_1-secondary-square,
button.welbtn-v3_0_1-secondary-square,
input[type="button"].welbtn-v3_0_1-secondary-square,
input[type="submit"].welbtn-v3_0_1-secondary-square,
input[type="reset"].welbtn-v3_0_1-secondary-square,
a.welbtn-v3_0_1-secondary-square {
  background-color: #efefef;
  color: #333;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-square:hover,
button.ui.button.welbtn-v3_0_1-secondary-square:hover,
button.welbtn-v3_0_1-secondary-square:hover,
input[type="button"].welbtn-v3_0_1-secondary-square:hover,
input[type="submit"].welbtn-v3_0_1-secondary-square:hover,
input[type="reset"].welbtn-v3_0_1-secondary-square:hover,
a.welbtn-v3_0_1-secondary-square:hover {
  background-color: rgba(239, 239, 239, 0.6);
  color: #333;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-voll,
button.ui.button.welbtn-v3_0_1-secondary-voll,
button.welbtn-v3_0_1-secondary-voll,
input[type="button"].welbtn-v3_0_1-secondary-voll,
input[type="submit"].welbtn-v3_0_1-secondary-voll,
input[type="reset"].welbtn-v3_0_1-secondary-voll,
a.welbtn-v3_0_1-secondary-voll {
  background-color: #ddd;
  color: #333;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-voll:hover,
button.ui.button.welbtn-v3_0_1-secondary-voll:hover,
button.welbtn-v3_0_1-secondary-voll:hover,
input[type="button"].welbtn-v3_0_1-secondary-voll:hover,
input[type="submit"].welbtn-v3_0_1-secondary-voll:hover,
input[type="reset"].welbtn-v3_0_1-secondary-voll:hover,
a.welbtn-v3_0_1-secondary-voll:hover {
  background-color: rgba(221, 221, 221, 0.6);
  color: #333;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-panetteria,
button.ui.button.welbtn-v3_0_1-secondary-panetteria,
button.welbtn-v3_0_1-secondary-panetteria,
input[type="button"].welbtn-v3_0_1-secondary-panetteria,
input[type="submit"].welbtn-v3_0_1-secondary-panetteria,
input[type="reset"].welbtn-v3_0_1-secondary-panetteria,
a.welbtn-v3_0_1-secondary-panetteria {
  background-color: #fff;
  color: #fff;
}
.ui.buttons button.ui.button.welbtn-v3_0_1-secondary-panetteria:hover,
button.ui.button.welbtn-v3_0_1-secondary-panetteria:hover,
button.welbtn-v3_0_1-secondary-panetteria:hover,
input[type="button"].welbtn-v3_0_1-secondary-panetteria:hover,
input[type="submit"].welbtn-v3_0_1-secondary-panetteria:hover,
input[type="reset"].welbtn-v3_0_1-secondary-panetteria:hover,
a.welbtn-v3_0_1-secondary-panetteria:hover {
  background-color: black;
  color: #fff;
}
